<div class="inner">
    <nav>
        <ul>
            <li><%= link_to "Home", root_path() %></li>
            <li><%= link_to "Processors", processors_path() %></li>
            <li><%= link_to "Motherboards", motherboards_path() %></li>
            <li><%= link_to "Graphics Cards", graphics_cards_path() %></li>
            <li><%= link_to "Power Supplies", power_supplies_path() %></li>
            <li><%= link_to "RAM Memories", rams_path() %></li>
        </ul>
    </nav>
</div>