<h1>Home Page</h1>

<div class="block">
    <%= turbo_frame_tag "form" do %>
        <%= form_tag root_path, method: :get, data: { controller: "dropdown" } do %>
            <%= select_tag :processor, "", prompt: "- Please select -", data: { action: "change->dropdown#processor" } %>
            <%= select_tag :motherboard, "", prompt: "- Motherboard -", data: { action: "change->dropdown#motherboard" } %>
            <%= select_tag :ram, "", prompt: "- RAM Memory -", data: { action: "change->dropdown#ram" } %>
            <%= select_tag :graphics_card, "", prompt: "- Graphics Card -", data: { action: "change->dropdown#graphics_card" } %>
            <%= select_tag :psu, "", prompt: "- Power Supply -", data: { action: "change->dropdown#psu" } %>
    <% end %>
</div>

<div class="block mt-4 hidden" id="message-container">
    ✅ The <strong id="message"></strong> is a nice PC setup.
    <div class="mt-4"><%= link_to "Pick another", root_path, class: "text-blue-600 underline" %></div>
</div>
<% end %>